<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- mysql 连接数据库jar 这里选择自己本地位置 -->
    <!--     <classPathEntry location="C:\Users\Administrator\.m2\repository\mysql\mysql-connector-java\5.1.47\mysql-connector-java-5.1.47.jar" /> -->
    <context id="testTables" targetRuntime="MyBatis3">
        <commentGenerator>
            <!--  是否去除自动生成的注释 true：是 ： false:否  -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!-- 数据库连接的信息：驱动类、连接地址、用户名、密码  -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://10.100.20.96:3306/park"
                        userId="root" password="ScpAdmin@96">
            <!-- 防止生成其他库同名表 -->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>
        <!--  默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和
                   NUMERIC 类型解析为java.math.BigDecimal  -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>
        <!--  targetProject:生成PO类的位置  -->
        <javaModelGenerator targetPackage="com.management.system.model" targetProject="src/main/java">
            <!--  enableSubPackages:是否让schema作为包的后缀  -->
            <property name="enableSubPackages" value="false"/>
            <!--  从数据库返回的值被清理前后的空格  -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--  targetProject:mapper映射文件生成的位置
                   如果maven工程只是单独的一个工程，targetProject="src/main/java"
                   若果maven工程是分模块的工程，targetProject="所属模块的名称"，例如：
                   targetProject="ecps-manager-mapper"，下同 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <!--  enableSubPackages:是否让schema作为包的后缀  -->
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--  targetPackage：mapper接口生成的位置  -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.management.system.dao" targetProject="src/main/java">
            <!--  enableSubPackages:是否让schema作为包的后缀  -->
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--  指定数据库表  -->
        <table schema="park" tableName="safety_rule"
               domainObjectName="SafetyRule" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--  如果设置为true，生成的model类会直接使用column本身的名字，而不会再使用驼峰命名方法，比如BORN_DATE，生成的属性名字就是BORN_DATE,而不会是bornDate  -->
            <property name="useActualColumnNames" value="false"/>
            <!-- 在有自增ID的时候，都要加上一行 -->
            <!--             <generatedKey column="ID" sqlStatement="MySql" identity="true"/> -->
        </table>
    </context>
</generatorConfiguration>